@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-transform: capitalize;
    scroll-padding-top: 4rem;
    list-style: none;
    text-decoration: none;
}
section{
    padding: 50px 10%;
 
}
body{
    font-family: "Poppins", system-ui;
    color: var(--text-color) ;
    background:var(--bg-color) ;
}
*::selection {
    background: var(--main-color) ;
    color: #fff
}


:root {
    --main-color:#a11155;
    --secondary-color: #333;
    --text-color:#1f1818;
    --bg-color:#fff;
    --big-font:3rem;
    --h2-font: 2rem;
    --p-fobt:16px;
}
body.active{
 --text-color:#fff;
 --bg-color: #1e1c2a;   
}

/*header*/
header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--bg-color);
    padding: 18px 100px;
    box-shadow: 0 0.5rem 50rem rgba(0, 0, 0, 0.1) ;

}
.logo{
    font-size: 1.2rem;
    font-family: "Averia Serif Libre", serif;
    font-weight: 600;
    color: var(--main-color);
}
.logo i{
    margin-left: 5px;
}
.navbar{
    display: flex;
    padding-top: 20px;
}
.navbar a{
    font-size: 1rem;
    padding: 10px 20px;
    cursor: pointer;
    color: var(--text-color);
    font-weight: 500;
    transition: .5s ease;
}
.navbar a:hover{
    color: var(--main-color);
  

}
#menu-icon{
    font-size: 1.5rem;
   display: none;
    cursor: pointer;
}
#darkmode{
  font-size: 20px;  
  cursor: pointer;
}
/*home*/

.home{
    width: 100%;
    height: 90vh;
    padding-top: 4rem;
    display: grid;
    grid-template-columns: repeat(2,1fr);
  
    align-items: center;
}
.home img{
    max-width: 100%;
    width: 500px;
}
.home h2{
    font-size: 2rem;
    font-weight: 700;
    color: var(--main-color);
}
.home h3{
    font-size: 1.5rem;
    margin-bottom: 8px;
}
.home p{
    margin-bottom: 15px;
    font-size: 16px;
}
 .home .btn{
 display: inline-block;
 background: var(--main-color);
 padding: 10px 20px;
 color: var(--bg-color);
 border-radius: .5rem;
 transition: .5s ease;
}
.btn:hover{
    background: transparent;
    color: #a11155;
    border: 1px solid #a11155;

}



/*about*/
.about{
    width: 90%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
    align-items: center;  
    margin: auto; 
}

.about-img img {
    max-width: 90%;
    width: 450px;
    height: auto;
    border-radius: 10px;
    
}

.about-text {
   
    
    animation: fadeIn 2s ease-in-out;
}

.about-text h2 {
    font-size: 2.5rem;
    margin-bottom: 10px;

}

.about-text h3 {
    font-size: 1.3rem;
    color: var(--main-color);
    margin-bottom: 10px;
}

.about-text p {
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 20px;
   
}

.social-about{
    margin-bottom: 20px;
}

.social-about a {
    color: #fff;
    background-color: #000;
    padding: 10px;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.social-about  a:hover {
    background-color: var(--main-color);
}

 .about .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--main-color);
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.about .btn:hover {
    background: #000;
}
   
    

/*products*/



.heading {
    margin-bottom: 2rem;
}

.heading h3,
.heading h4 {
    font-size: 1.5rem;
    color: var(--main-color);
    text-align: center;
    margin-bottom: 2rem;
}

.product-container {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 0.5rem;
    gap: 2rem; 
    padding-top: 3rem;
   
}

.box {
    position: relative;
    border-radius: 0.5rem;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* إضافة تأثير الحركة */
    background-color: #fff;
    max-width: 300px; 
    text-align: center;
}

.box:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}



.box-img img {
    
    height: 130px;
    object-fit: cover;
    border-radius: 0.5rem;
    transition: transform 0.3s ease;
}

.box:hover .box-img img {
    transform: scale(1.1); 
}

.box h2 {
    font-size: 1.2rem;
    margin: 0.5rem 0;
    color: #333;
}

.box span {
    font-size: 1rem;
    font-weight: bold;
    color: var(--main-color);
}

.box i {
    position: absolute;
    right: 10px;
    top: 10px;
    background: var(--main-color);
    border-radius: 50%;
    padding: 10px;
    color: #fff;
    cursor: pointer;
    transition: background 0.3s ease;
}

.box i:hover {
    background: #d1499d; 

}
/*services*/

.services {
    padding: 4rem 1rem;
    background-color: var(--bg-color);
    text-align: center;
}

.section-title {
    font-size: 2.5rem;
    color: var(--secondary-color);
    margin-bottom: 2rem;
}


.services-container {
    display: flex;
    gap: 2rem;
    justify-content: center;
    flex-wrap: wrap;
}


.service-box {
    background-color: #fff;
    border-radius: 0.5rem;
    padding: 2rem;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 300px;
    text-align: center;
}

.service-box:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.service-box i {
    font-size: 3rem;
    color: var(--main-color);
    margin-bottom: 1rem;
}


.service-box h3 {
    font-size: 1.5rem;
    color: var(--secondary-color);
    margin-bottom: 1rem;
}

.service-box p {
    font-size: 1rem;
    color: var(--secondary-color);
}

/*contact*/
.contact {
    padding: 5rem 0;

    color: var(--text-color);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

.section-title {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 2rem;
    font-weight: 700;
    color: var(--text-color);
    text-transform: uppercase;
}

.contact-content {
 display: grid;
 grid-template-columns: repeat(2,1fr);
 gap: 2rem;
 align-items: center;
}



.contact-image img {
    max-width: 90%;
    width: 400px;
    .animate__animated {
        animation-duration: 1s; 
      
        
    } 
   
 
}


.contact-form {
  

    padding: 2rem;
    background-color: var(--form-background);
    border-radius: 1rem;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.contact-form h3 {
    font-size: 1rem;
    margin-bottom: 1rem;
    color: var(--main-color);}

.form-group {
    margin-bottom: 1.5rem;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 1rem;
    border: none;
    border-radius: 0.5rem;
    background-color: #f0f0f0;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 1rem;
}

.contact-form textarea {
    min-height: 150px;
}

.btn {
    background-color: var(--main-color);
    color: #fff;
    padding: 1rem 2rem;
    border: none;
    border-radius: 2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 1.1rem;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.btn:hover {
    border: 2px solid #000;
    color: var(--main-color);
}
/*more*/
.break-section {
    position: relative;
    text-align: center;
    margin: 20px 0;
    background: var(--main-color);
    border-radius: 10px;
    padding: 20px;
    overflow: hidden;
    transition: background 0.3s ease;
}

.break-section:hover {
    background: rgba(0, 0, 0, 0.8); }

.break-image {
    width: 100%;
    height: auto;
    max-height: 50vh; ;
    display: block;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    transition: transform 0.5s ease; 
}



.break-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.7); 
    text-align: center;
    padding: 10px;
  
    border-radius: 5px;

    transition: opacity 0.3s ease;
}



.break-text h2 {
    font-size: 2.5rem; 
    margin: 0; 
}

.break-text p {
    font-size: 1.2rem; 
    margin: 10px 0 0 0; 
    line-height: 1.5; 
}

/*footer*/
.footer {
    background: #000;
    color: white;
    padding: 40px 20px;
}

.footer-container {
    display: grid;
    grid-template-columns: repeat(4,1fr) ;
    align-items: flex-start;
    max-width: 1200px;
    margin: auto;
   
}

.footer-logo {
    text-align: center;
    margin-right: 20px;
}
.footer-logo h2{
    font-size: 1.5rem;
}
.footer-logo-img {
    width: 120px;
    height: auto;
    
}

.footer-links, .footer-contact, .footer-socials {
    margin: 20px;
}

.footer-links h3, 
.footer-contact h3, 
.footer-socials h3 {
    margin-bottom: 10px;
    font-size: 1.5rem;
}

.footer-links ul, .footer-socials ul {
    list-style: none;
    padding: 0;
}

.footer-links ul li, .footer-socials ul li {
    margin: 5px 0;
}

.footer-links a, .footer-socials a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-links a:hover, .footer-socials a:hover {
    color: var(--main-color);
}

.footer-contact p {
    margin: 5px 0;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    padding: 10px 0;
    font-size: 0.9rem;
}

.footer-socials i {
    margin-right: 8px;
}





/*media*/
@media(max-width:990px){
    header{
        padding: 18px 50px;
    }
   
    .about-text h2 {
        font-size: 1.75rem;
        
    }
    
    .about-text h3 {
        font-size: 1rem;

    }
    
    .about-text p {
        font-size: 16px;
        line-height: 1;
        
    } 
    .product-container {
        display: grid;
        grid-template-columns: repeat(3,1fr);
       
       
    }
    .break-text h2 {
        font-size: 1.75rem; 
        
    }
    
    .break-text p {
        font-size: 1rem; 
       
        line-height: 1; 
    } 
    .footer-logo h2{
        font-size: 1rem;
    } 
    .footer-links h3, 
.footer-contact h3, 
.footer-socials h3 {
    
    font-size: 1rem;
}

}
@media(max-width:790px){
    #menu-icon{
        display: initial;
       }
       header .navbar{
        position: absolute; 
        top: -400px;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        text-align: center;
        background: var(--bg-color);
        box-shadow: 0 4px 4px rgb(0 0 0 /10%);
        transition: .3s ease;
       
       }
       .navbar.active{
        top: 100%;
       }
      .navbar a{
        padding: 1.5rem;
        display: block;
        background: var(--bg-color);
        
      }
      #darkmode{
       position: absolute;
       top: 1.4rem; 
       right: 2rem;
      }
    .home, 
    .about{
       
        grid-template-columns: 1fr;
        text-align: center;
        padding-top: 5rem;
       
    }  
    .home img{
       
        width: 450px;
    } 
    .about-img img{
        width: 400px;
    }
    .product-container {
        display: grid;
        grid-template-columns: repeat(2,1fr);
      
       
    }
    
.contact-content {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    gap: 2rem;
    align-items: center;
   }

   
.footer-container {
    display: grid;
    grid-template-columns: repeat(2,1fr) ;
    text-align: center;
    align-items: center;
    
    max-width: 1200px;
    margin: auto;
   
}
.contact-image img {
    max-width: 90%;
    width: 300px;
   
   
 
}
.break-text h2 {
    font-size: 1.5rem; 
    
}

.break-text p {
    font-size: .75rem; 
   
    line-height: 1; 
} 
    

}
@media(max-width:500px){
    .product-container {
        display: grid;
        grid-template-columns: 1fr;
        margin-left: 2rem;
      
       
    } 
    .home h2{
        font-size: 1.5rem;
       
    }
    .home h3{
        font-size: 1rem;
        margin-bottom: 8px;
    } 

.heading h3,
.heading h4 {
    font-size: 1rem;
  
}
.section-title {
    font-size: 1.5rem;
    
}
.break-text h2 {
    font-size: 1rem; 
    
}

.break-text p {
    font-size: .5rem; 
   
    line-height: 1; 
} 
    
.service-box h3 {
    font-size: 1rem;
  
}

.service-box p {
    font-size: .75rem;
    
}
.footer-logo h2{
    font-size: 1rem;
}
.footer-logo-img {
    width: 100px;
    height: auto;
    
}
.footer-links h3, 
.footer-contact h3, 
.footer-socials h3 {
    
    font-size: .75rem;
}
.about-text h2 {
    font-size: 1rem;
    
}

.about-text h3 {
    font-size: .75rem;

}

.about-text p {
    font-size: 12px;
    line-height: 1;
    
} 

.social-about a {
    color: #fff;
   font-size: 12px;
    padding: 8px;
   
  
}

.about .btn {
    display: inline-block;
    padding: 8px 15px;
    font-size: 14px;
  


}
@media(max-width:400px){
    .product-container {
        display: grid;
        grid-template-columns: 1fr;
        margin-left: 1rem;
      
       
    } 
    .footer-container {
        display: grid;
        grid-template-columns: 1fr ;
     
       
    } 
  
    .footer-logo-img {
        width: 80px;
        height: auto;
        
    } 

 .footer-logo h2{
    font-size: .75rem;
}
    
     
}










    

    



  
    






































